<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="/assets/password.png" style="width: 100px;" alt="" class="img-fluid">
                </div>
                <h1 class="text-center">Login Here !!</h1>
              
            
                    <div class="container text-center">
                        <button routerLink="/form-type" mat-raised-button color="accent"> Form Type</button>
                        <button routerLink="/json-type" mat-raised-button color="accent"> JSON Type</button>
                    </div>
                   
                


            </div>
        </div>
    </div>
</div>